.Header {
  background-color: #0d0d0d;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 2px solid #1f1f1f;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.Header-left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Header-center {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
